<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/homestyles.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

</head>

<body>
    <div class="navbar">
        <div class="dashboard">..</div>
        <div class="burger">
            <img src="css/Burgrer.png" style="height: 30px;" alt="">
        </div>
        <div class="locationimg">
            <img src="css/location-56.png" style="height: 27px;" alt="">

        </div>
        <div class="location">
            <p>Mysore</p>
        </div>
        <div class="searchbar">
            <% if(finallist.length==1){ %>
                <form style="display: flex" action=<%=nexturl%> method="post">
                    <input type="text" class="searchtext" placeholder=<%=finallist[0].name%> name="avi">
                    <button class="search-icon"><img style="height: 30px;" src="css/search-icon.png" alt=""></button>

                </form>
                <% } else{%>
                    <form style="display: flex" action=<%=nexturl%> method="post">
                        <input type="text" class="searchtext-else" placeholder=<%=finallist[0].name%> name="avi">
                        <button class="search-icon-else"><img style="height: 30px;" src="css/search-icon.png"
                                alt=""></button>
                    </form>
                    <% } %>
        </div>

        <div class="profile">
            <div>
                <img class="profile-image" src=<%=picture%> alt="not got it">
            </div>
        </div>
    </div>

    <div class="list-down">
        <form class="list-down-form" method="post" action="/finalselecteditem">
        <% for(i=0;i<finallist.length-1;i++){%>
            <button type="submit" name="listdown" class="list-items" value=<%=i%>>
                <%=finallist[i].name%>
            </button>
            <%}%>
                <% if(finallist.length!=1){ %>
                    <button type="submit" name="listdown"
                        class="list-items-last" value=<%=finallist.length-1%>><%=finallist[finallist.length-1].name%></button>
                    <% } %>
                </form>
    </div>
    <div class="feed">
        <div class="feeds" id="feed1">
            <img id="feed1" src="css/item1.jpg" alt="">
        </div>
        <div class="feeds" id="feed2"></div>
        <div class="feeds" id="feed3"></div>
    </div>

    <div class="dishes">

        <% for(i=0;i<items.length;i++){%>
            <div class="dish">
                <div class="dishinfo">
                    <%if(Math.floor(Math.random()*2)%2==0){%>
                      <img class="restlogo" src="css/swiggy_logo1.png">
                      <% } else{%>
                        <img class="restlogo" src="css/Zomato_logo1.png">
                    <%}%>
                    <p class="dishrating">
                        <%=items[i].rating_max%><img style="height: 10px;" src="css/starlogo.png">
                    </p>
                </div>
                <img class="dishimg" src=<%=items[i].picture%> alt="" >
                <p class="dishname">
                    <%=items[i].name%>
                </p>
            </div>
            <%}%>
    </div>

    <div class="restaurants">

        <% for(i=0;i<restros.length;i++){%>
            <div class="restaurant">
                <div class="restinfo">
                    <%if(i%2==0){%>
                        <img class="restlogo" src="css/swiggy_logo1.png">
                        <% } else{%>
                          <img class="restlogo" src="css/Zomato_logo1.png">
                      <%}%>
                    <p class="restrating">
                        <%=restros[i].rating_max%><img style="height: 10px;" src="css/starlogo.png">
                    </p>
                </div>
                <img class="restimg" src="<%=restros[i].picture%>" alt="">
               <div style="display: flex; justify-content: center; align-items: center;">
                <p class="restname">
                    <%=restros[i].name%>
                </p>
                </div>
            </div>
            <%}%>

    </div>
</body>

</html>